In [1]:
import pandas as pd
from detectorRB import detect_anomalies_RB

In [2]:
adf = detect_anomalies_RB("test_log.csv", "rules.txt")

In [3]:
adf

                     User     ID Process  FKL_Process  Rule1  Relation1  Time1
Datetime
2023-11-14 20:07:10  S187  77160   Login           12  False       True  False
2023-11-14 20:08:34  S131  53528   Login           12  False       True  False
2023-11-14 20:10:59  S225  20437   Login           12  False       True  False
2023-11-14 20:14:37  S558  16851   Login           14  False       True  False
2023-11-14 20:15:04  S429  69573   Login           15  False       True  False
...                   ...    ...     ...          ...    ...        ...    ...
2023-11-15 23:56:44  B212  64766   Login           11  False       True  False
2023-11-15 23:57:07  J253  39043   Login            6  False       True  False
2023-11-15 23:57:24  A302  49709   Login            6  False       True  False
2023-11-15 23:57:32  A338  73290   Login           14  False       True  False
2023-11-15 23:59:39  A328  84977   Login           11  False       True  False

[1000 rows x 7 columns]

In [4]:
filepath = "test_results.csv"

try:
    adf.to_csv(filepath)
    print(f"DataFrame saved to {filepath}")
except Exception as e:
    print(f"An error occurred while saving the DataFrame: {e}")

DataFrame saved to test_results.csv

In [2]:
def read_lines_from_file(filepath):
    try:
        with open(filepath, 'r', encoding='utf-8') as file:
            lines = [line.rstrip('\n') for line in file]
        return lines
    except FileNotFoundError:
        print(f"Error: File not found at {filepath}")
        return []
    except Exception as e:
        print(f"An error occurred: {e}")
        return []

In [3]:
rules = [RuleFactory.from_string(rule) for rule in read_lines_from_file('rules.txt')]

In [4]:
test_df = generate_anomaly_detection_df(1000)
test_df

                     User     ID Process  FKL_Process
Datetime
2023-11-14 20:04:58  S909  37649   Login           10
2023-11-14 20:10:36  S379  25075   Login           14
2023-11-14 20:13:04  S578  32745   Login            8
2023-11-14 20:18:33  S588  61664   Login           13
2023-11-14 20:29:02  S529  37770   Login           13
...                   ...    ...     ...          ...
2023-11-15 23:55:09  J307  16347   Login           17
2023-11-15 23:55:34  S868  92195   Login            7
2023-11-15 23:58:05  J461  69068   Login            2
2023-11-15 23:59:37  J807  74860   Login            9
2023-11-15 23:59:49  J304  13756   Login            8

[1000 rows x 4 columns]

In [5]:
matches = [rule.match(test_df) for rule in rules]

In [6]:
for match in matches:
    test_df[match.name] = match

In [7]:
test_df

                     User     ID Process  FKL_Process  Rule1  Relation1  Time1
Datetime
2023-11-14 20:04:58  S909  37649   Login           10  False       True  False
2023-11-14 20:10:36  S379  25075   Login           14  False       True  False
2023-11-14 20:13:04  S578  32745   Login            8  False       True  False
2023-11-14 20:18:33  S588  61664   Login           13  False       True  False
2023-11-14 20:29:02  S529  37770   Login           13  False       True  False
...                   ...    ...     ...          ...    ...        ...    ...
2023-11-15 23:55:09  J307  16347   Login           17  False       True  False
2023-11-15 23:55:34  S868  92195   Login            7  False       True  False
2023-11-15 23:58:05  J461  69068   Login            2  False       True  False
2023-11-15 23:59:37  J807  74860   Login            9   True       True  False
2023-11-15 23:59:49  J304  13756   Login            8   True       True  False

[1000 rows x 7 columns]

In [8]:
test_df[test_df.Rule1 | test_df.Relation1 | test_df.Time1]

                     User     ID Process  FKL_Process  Rule1  Relation1  Time1
Datetime
2023-11-14 20:04:58  S909  37649   Login           10  False       True  False
2023-11-14 20:10:36  S379  25075   Login           14  False       True  False
2023-11-14 20:13:04  S578  32745   Login            8  False       True  False
2023-11-14 20:18:33  S588  61664   Login           13  False       True  False
2023-11-14 20:29:02  S529  37770   Login           13  False       True  False
...                   ...    ...     ...          ...    ...        ...    ...
2023-11-15 23:55:09  J307  16347   Login           17  False       True  False
2023-11-15 23:55:34  S868  92195   Login            7  False       True  False
2023-11-15 23:58:05  J461  69068   Login            2  False       True  False
2023-11-15 23:59:37  J807  74860   Login            9   True       True  False
2023-11-15 23:59:49  J304  13756   Login            8   True       True  False

[297 rows x 7 columns]

In [9]:
test_df.sort_index()

                     User     ID Process  FKL_Process
Datetime
2023-11-14 20:00:13  S351  39620   Login           10
2023-11-14 20:02:22  S682  31850   Login           11
2023-11-14 20:12:25  S929  51336   Login           12
2023-11-14 20:18:09  S665  46256   Login           10
2023-11-14 20:19:57  S799  13080   Login           14
...                   ...    ...     ...          ...
2023-11-15 23:56:17  B251  21860   Login            6
2023-11-15 23:57:30  A800  51015   Login           13
2023-11-15 23:57:56  S607  43678   Login           12
2023-11-15 23:58:10  A776  97499   Login           19
2023-11-15 23:58:34  S244  41077   Login            4

[1000 rows x 4 columns]

In [10]:
test_df[match1.name] = match1

In [11]:
test_df

                     User     ID Process  FKL_Process  Rule1
Datetime
2023-11-14 20:00:13  S351  39620   Login           10  False
2023-11-14 20:02:22  S682  31850   Login           11  False
2023-11-14 20:12:25  S929  51336   Login           12  False
2023-11-14 20:18:09  S665  46256   Login           10  False
2023-11-14 20:19:57  S799  13080   Login           14  False
...                   ...    ...     ...          ...    ...
2023-11-15 23:56:17  B251  21860   Login            6  False
2023-11-15 23:57:30  A800  51015   Login           13  False
2023-11-15 23:57:56  S607  43678   Login           12   True
2023-11-15 23:58:10  A776  97499   Login           19  False
2023-11-15 23:58:34  S244  41077   Login            4  False

[1000 rows x 5 columns]

In [98]:
time1 = rule3.match(test_df)

In [99]:
time1.sort_index()

Datetime
2023-11-14 20:02:21    False
2023-11-14 20:03:44    False
2023-11-14 20:07:12    False
2023-11-14 20:07:38    False
2023-11-14 20:07:42    False
                       ...
2023-11-15 23:54:24    False
2023-11-15 23:54:47    False
2023-11-15 23:57:36    False
2023-11-15 23:58:43    False
2023-11-15 23:59:27    False
Name: Time1, Length: 1000, dtype: bool

In [100]:
test_df.sort_index()

                     User     ID Process  FKL_Process  Rule1
Datetime
2023-11-14 20:02:21  S917  60621   Login           15  False
2023-11-14 20:03:44  S911  93771   Login           16  False
2023-11-14 20:07:12  S629  57947   Login           14  False
2023-11-14 20:07:38  S266  87141   Login           14  False
2023-11-14 20:07:42  S376  73638   Login           16  False
...                   ...    ...     ...          ...    ...
2023-11-15 23:54:24  A628  71619   Login           14  False
2023-11-15 23:54:47  J449  97643   Login           12   True
2023-11-15 23:57:36  S499  90752   Login           17  False
2023-11-15 23:58:43  B293  90649   Login            4  False
2023-11-15 23:59:27  B746  74593   Login           11  False

[1000 rows x 5 columns]

In [13]:
plain_ano = pd.Series(plain_res)
rel_ano = pd.Series(rel_res)
time_ano = pd.Series(time_res)

In [14]:
plain_ano = plain_ano[plain_ano == True]
rel_ano = rel_ano[rel_ano == True]
time_ano = time_ano[time_ano == True]

In [15]:
plain_ano.sort_index()

Datetime
2023-11-14 20:30:24    True
2023-11-14 20:35:08    True
2023-11-14 20:43:33    True
2023-11-14 20:45:00    True
2023-11-14 20:46:18    True
                       ...
2023-11-15 23:53:00    True
2023-11-15 23:53:35    True
2023-11-15 23:55:48    True
2023-11-15 23:57:49    True
2023-11-15 23:58:46    True
Name: Rule1, Length: 159, dtype: bool

In [16]:
rel_ano

Datetime
2023-11-15 03:45:01    True
2023-11-15 13:18:21    True
2023-11-15 14:50:06    True
2023-11-15 20:07:11    True
2023-11-15 07:06:38    True
                       ...
2023-11-15 04:20:58    True
2023-11-15 19:34:59    True
2023-11-14 23:20:46    True
2023-11-14 21:14:00    True
2023-11-15 20:45:22    True
Name: Relation1, Length: 398, dtype: bool

In [17]:
time_ano

Series([], Name: Time1, dtype: bool)

In [18]:
test_df[plain_res]

                     User     ID Process  FKL_Process
Datetime
2023-11-15 23:48:04  J108  61627   Login           16
2023-11-15 21:47:13  J113  58918   Login           10
2023-11-15 01:20:43  J126  34913   Login           12
2023-11-15 22:16:20  J133  74281   Login           13
2023-11-15 21:16:59  J145  62824   Login           11
...                   ...    ...     ...          ...
2023-11-14 22:59:30  S947  34969   Login           14
2023-11-15 04:07:11  S948  73741   Login           12
2023-11-15 04:20:58  S968  56884   Login           12
2023-11-14 23:20:46  S990  85733   Login           15
2023-11-14 21:14:00  S992  54787   Login            8

[159 rows x 4 columns]

In [19]:
test_df[rel_res]

                     User     ID Process  FKL_Process
Datetime
2023-11-15 03:45:01  A103  51642   Login            8
2023-11-15 13:18:21  A112  76131   Login           13
2023-11-15 14:50:06  A119  42869   Login           17
2023-11-15 20:07:11  A123  46071   Login           13
2023-11-15 07:06:38  A151  89118   Login           15
...                   ...    ...     ...          ...
2023-11-15 04:20:58  S968  56884   Login           12
2023-11-15 19:34:59  S977  99327   Login           11
2023-11-14 23:20:46  S990  85733   Login           15
2023-11-14 21:14:00  S992  54787   Login            8
2023-11-15 20:45:22  S994  12283   Login            4

[398 rows x 4 columns]

In [20]:
test_df[time_res]

Empty DataFrame
Columns: [User, ID, Process, FKL_Process]
Index: []